<footer>
    <div class="f-info">
        <div class="f-info-social-links">
            <i class="fa-brands fa-square-instagram"></i>&nbsp;&nbsp;
            <i class="fa-brands fa-facebook-messenger"></i>&nbsp;&nbsp;
            <i class="fa-brands fa-square-whatsapp"></i>&nbsp;&nbsp;
            <i class="fa-brands fa-square-twitter"></i>&nbsp;&nbsp;
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="company-name"> &copy; &nbsp;Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>
