<% layout('/layouts/boilerplate.ejs') %>
<body>
    <div class="row mt-4">
        <div class="col-9 offset-5">
            <h3>Create new Listing</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2">
        <form method="POST" action="/listing">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
        <input name="listing[title]" placeholder="Enter title" type="text" class="form-control">
        </div>
        
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]"  placeholder="Enter Description"  class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input name="listing[image]" placeholder="Enter image URL/Link" class="form-control" type="text">
        </div>
        <div class="row">
        <div class="col-md-4"> 
            <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" placeholder="Enter price" type="number" class="form-control" min="0">
            </div>
        </div>
        <div class="col-md-8">
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input name="listing[location]" placeholder="Enter location" type="text" class="form-control">
            </div>
        </div>
        </div>
        
        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" placeholder="Enter country" type="text" class="form-control">
        </div>
        <div class="row">
            <div class="col-9 offset-5">
                <button class="btn btn-dark add-btn mt-3">Add</button>
        
            </div>
        </div>
        
    </form>
        </div>
    </div>
    <br>
</body>
