.navbar{
    height: 5rem;
    background-color: aliceblue;
}
.fa-compass{
    color: #a5121c;
    font-size: 1.6rem;
}
.nav-link{
    color: #222222 !important; /*custom style override defuakt bootstrap using !important */
}
.fa-brands{
    font-size: 1.2rem;
}
.f-info-links a{
    text-decoration: none;
    color: #222222 !important;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info{
    text-align: center;
    display: flex;
    height: 6rem;
    background-color: rgb(174, 174, 174);
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}
.f-info-links{
    width: 100%;
}
.company-name{
    width: 100%;
}
.f-info-social-links{
    margin-top: 0.5rem;
    width: 100%;
    margin-right: 0.5rem;
}

/* cards */
.card{
    border:none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width:100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 900 !important;
}
.listing-link{
    text-decoration: none !important ;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
/* stick footer */
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex:1;
}
/* button color */
.add-btn{
    background-color: #a5121c !important;
    border:#a5121c !important ;
}
.f-info{
    width:100% !important;
}
.edit-btn{
    background-color: #a5121c !important;
    border:#a5121c !important ;  
}

.card img{
    border-radius: 2rem;
    height: 15rem;
    width: 20rem;
}